.react-bs-table{
    height: inherit !important
}
.react-bs-container-body{
    height: inherit !important
}
.navigation-header-wrapper{
    background-color: #827f7f
}
.map{
    width: 100% !important
}